<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HackTogether_MSGraph.styles.css" asp-append-version="true" />
    <title>Thank you</title>
</head>
@{
    Layout = null;
 }

<div class="MainContainer">
    <h1 class="display-1 Thanks">Thanks</h1>
    <h1 class="display-6 text-center">This page is dedicated to say <span id="emph"> thank you </span> for  every and each one from MSTeam who helped in this event   </h1>
    <div class="eventDiv">
        <img src="~/Assets/Pic/Mojo.png" />
        <h3 class="eventName text-center"> Hack Together: Microsoft Graph and .NET!    </h3>
        <img src="~/Assets/Pic/Mojo.png" />
    </div>
    <ul>
        <li>Yina Arenas</li>
        <li>Scott Hanselman</li>

        <li>Ayca Bas</li>
        <li>Waldek Mastykarz</li>
        <li>Rabeb Othmani</li>

    </ul>
    <ul>
        <li>Maisa Rissi</li>
        <li>Brian Jackett</li>
        <li>Justin Yoo</li>
        <li>Andrew Omonadi</li>
        <li> <i> and more... </i>  </li>
    </ul>

    <a class="nav-link text-dark" asp-area="" asp-controller="MainPage" asp-action="Index">Start</a>

</div>

